name: Build docs from matrix

on:
  workflow_dispatch:
    inputs:
      matrix:
        description: 'JSON-encoded matrix of repos'
        required: true
        type: string

jobs:
  sync-and-build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    strategy:
      matrix: ${{ fromJson(inputs.matrix) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup SSH for ${{ matrix.repo.name }}
        env:
          REPO_NAME: ${{ matrix.repo.name }}
          REPO_URL: ${{ matrix.repo.url }}
          ALL_SECRETS_JSON: ${{ toJSON(secrets) }}
        run: |
          UPPER_NAME=$(echo "$REPO_NAME" | tr '[:lower:]' '[:upper:]')
          SECRET_KEY="SYNC_SPHINX_$UPPER_NAME"
          echo "${{ matrix.repo.name }}"
          echo "${{ matrix.repo.url }}"
          echo "Looking for secret: $SECRET_KEY"

          PRIVATE_KEY=$(echo "$ALL_SECRETS_JSON" | jq -r ".[\"$SECRET_KEY\"]")
          mkdir -p "$HOME/.ssh"
          echo "$PRIVATE_KEY" > "$HOME/.ssh/id_ed25519"
          chmod 600 "$HOME/.ssh/id_ed25519"
          ssh-keyscan github.com >> "$HOME/.ssh/known_hosts"

          ssh-keygen -lf "$HOME/.ssh/id_ed25519"

      - name: Setup Sphinx ${{ matrix.repo.name }}
        run: |
          sudo apt install -y doxygen graphviz
          pip install numpy sphinx sphinx-intl sphinx-rtd-theme

      - name: Clone and sync ${{ matrix.repo.name }}
        run: |
          git clone --depth=1 "${{ matrix.repo.url }}" cache-tmp
          ls -la cache-tmp/docs/
          mkdir -p documentations/${{ matrix.repo.name }}/docs
          mkdir -p documentations/${{ matrix.repo.name }}/docs/doxygen/images
          rsync -av -delete cache-tmp/docs/sphinx/ documentations/${{ matrix.repo.name }}/docs/sphinx
          rsync -av -delete cache-tmp/docs/images/ documentations/${{ matrix.repo.name }}/docs/images
          mv cache-tmp/metadata.json documentations/${{ matrix.repo.name }}/metadata.json
          mv cache-tmp/docs/build.py documentations/${{ matrix.repo.name }}/docs/build.py
          rm -rf cache-tmp

          python documentations/${{ matrix.repo.name }}/docs/build.py

