name: Build docs from matrix

on:
  workflow_dispatch:
    inputs:
      matrix:
        description: 'JSON-encoded matrix of repos'
        required: true
        type: string

jobs:
  sync-and-build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    strategy:
      matrix: ${{ fromJson(inputs.matrix) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup SSH for ${{ matrix.repo.name }}
        run: |
          echo "${{ secrets[format('SYNC_SPHINX_{0}', upper(matrix.repo.name))] }}"
          echo "${{ matrix.repo.name }}"
          echo "${{ matrix.repo.url }}"

