name: Build docs from matrix

on:
  workflow_dispatch:
    inputs:
      matrix:
        description: 'JSON-encoded matrix of repos'
        required: true
        type: string

jobs:
  sync-and-build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    strategy:
      matrix: ${{ fromJson(inputs.matrix) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup SSH for ${{ matrix.repo.name }}
        env:
          REPO_NAME: ${{ matrix.repo.name }}
          REPO_URL: ${{ matrix.repo.url }}
          ALL_SECRETS_JSON: ${{ toJSON(secrets) }}
        run: |
          UPPER_NAME=$(echo "$REPO_NAME" | tr '[:lower:]' '[:upper:]')
          SECRET_KEY="SYNC_SPHINX_$UPPER_NAME"
          echo "${{ matrix.repo.name }}"
          echo "${{ matrix.repo.url }}"
          echo "Looking for secret: $SECRET_KEY"

          PRIVATE_KEY=$(echo "$ALL_SECRETS_JSON" | jq -r ".[\"$SECRET_KEY\"]")
          echo "$PRIVATE_KEY"

